.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
IntegrationTesting/
Sources/DustJackets/__TEMPLATE.swift
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
